nav a{
    color: #e4db8b;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    text-decoration: underline;
    color: #eb1715;
}
nav li {
    text-align: center;
    display: inline;
    border-bottom: #421e1b;
}


body{
    background-color: #421e1b;
}
header {
    text-align: center;
}
p {
    text-align: justify;
    color: #e4db8b;
}

.dropcap::first-letter {
    initial-letter: 2;
    font-weight: bold;
    margin-right: .75em;
}

h2 {
    text-align: center;
    color: #f62b33;
}

.layout {
    width: 100%;
  
    display: flex;
    gap: 64px;
  }
  
.grow9 { flex-grow: 7; }
.grow1 { flex-grow: 3; }

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}