header {
    display: inline;
}

nav {
    color: #e4db8b;
    position: sticky;
    top: 0;
    background-color: #421e1b;
    font-size: x-large;
    padding: 2px;
    margin: 2px;
}
nav a{
    color: #e4db8b;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    text-decoration: underline;
    color: #eb1715;
}
nav li {
    text-align: center;
    display: inline;
    border-right: #421e1b;
    border-left: #421e1b;
    border-style: double;
}


body{
    background-color: #421e1b;
}
header {
    text-align: center;
}
p {
    text-align: justify;
    color: #e4db8b;
    font-size: x-large;
}
figcaption {
    text-align: justify;
    color: #e4db8b;
    font-size: x-large;
}
  
.dropcap::first-letter {
    initial-letter: 2;
    font-weight: bold;
    margin-right: .75em;
}

h2 {
    text-align: center;
    color: #f62b33;
}
h3 {
    text-align: center;
    color: #f62b33;
}

.layout {
    width: 100%;
  
    display: flex;
    gap: 10px;
  }
  
.content { flex-grow: 8; }
.aside { flex-grow: 2; }

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box {
    width: auto;
    border: 5px double #FFD700;
    padding: 15px;
    margin: 10px;
}
.emperorbox {
    width: auto;
    border-top: 5px double #FFD700;
    padding: 15px;
    margin: 10px;
}


main {
    display: flex;
    padding: 20px;
    flex-direction: column;
}
  
main aside {
    order: 2;
}

@media screen and (min-device-width: 400px) {

}
  
 
@media screen and (min-device-width: 600px) {
    main {
      flex-direction: row;
    }
  
    #mainContent {
      flex-basis: 70%;
    }
  
    main aside {
      flex-basis: 30%;
  
      order: 1;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #421e1b;
    text-align: center;
    border-top: #421e1b;
    border-style: double;
}
  
.dropdown:hover .dropdown-content {
    display: grid;
    border-top: #421e1b;
    border-style: double;
}
.goldjust {
    text-align: center;
    color: #e4db8b;
    font-size: larger;
}

.emperorlayout {
    width: 100%;
  
    display: flex;
    gap: 16px;
}
  
.growpharagraph { flex-grow: 0; }

